<style>
  .search-filter {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .search-filter-sidebar-header {
    padding: var(--space-xs) var(--space-m);
    border-top: 1px solid var(--neutral-50);
    border-bottom: 1px solid var(--neutral-50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--space-xl);
  }

  .search-filter__group {
    border-bottom: 1px solid var(--neutral-50);
    padding: var(--space-m);
  }

  .search-filter__group.search-filter__clear-all {
    padding: var(--space-m) var(--space-m) 0;
    border-bottom: none;
  }

  .search-filter__group.search-filter__clear-all a {
    color: var(--neutral-950);
    text-decoration: underline;
  }

  .search-filter__group-title {
    margin-bottom: var(--space-s);
    color: var(--neutral-950);
  }

  .search-filter__options {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .search-filter__option {
    margin-bottom: var(--space-2xs);
  }

  .search-filter__checkbox-label,
  .search-filter__radio-label {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    cursor: pointer;
    color: var(--neutral-600);
  }

  .search-filter__checkbox,
  .search-filter__radio {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--neutral-400);
    background-color: var(--white);
    cursor: pointer;
    position: relative;
    margin: 0;
  }

  .search-filter__checkbox {
    border-radius: 0;
  }

  .search-filter__radio {
    border-radius: 50%;
  }

  .search-filter__checkbox:checked,
  .search-filter__radio:checked {
    background-color: var(--neutral-950);
    border-color: var(--neutral-950);
  }

  .search-filter__checkbox:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .search-filter__radio:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
  }

  .search-filter__checkbox:focus,
  .search-filter__radio:focus {
    outline: none;
  }

  .search-filter__content {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 100px;
  }

  .search-filter__footer {
    position: sticky;
    bottom: 0;
    background-color: var(--white);
    padding: var(--space-m);
    border-top: 1px solid var(--neutral-50);
    width: 100%;
    z-index: 1;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .search-filter__apply-button {
    width: 100%;
    height: var(--space-xl);
    background-color: var(--neutral-950);
    color: var(--white);
    border: none;
    padding: var(--space-xs) var(--space-s);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-filter__reset {
    color: var(--neutral-950);
    text-decoration: underline;
    margin-bottom: var(--space-xs);
    display: inline-block;
  }

  .search-filter__group:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .search-filter-close-btn {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .search-filter-sidebar {
      width: 100%;
    }
  }
</style>

<div class="search-filter">
  <div class="search-filter__content custom-scrollbar">
    <!-- Clear All Option -->
    <div class="search-filter__group search-filter__clear-all">
      <a
        href="{{ routes.search_url }}?q={{ search.terms | url_param_escape }}&type=product"
        class="search-filter__reset body"
        >Clear all filters</a
      >
    </div>

    <div class="search-filter__group search-filter__sort-by">
      <h3 class="search-filter__group-title body--bold">Sort by</h3>
      <ul class="search-filter__options">
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value=""
              class="search-filter__radio"
              {% unless request.params.sort_by %}
                checked
              {% endunless %}
            >
            <span class="body">Relevance</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="best-selling"
              class="search-filter__radio"
              {% if request.params.sort_by == 'best-selling' %}
                checked
              {% endif %}
            >
            <span class="body">Best selling</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="price-ascending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'price-ascending' %}
                checked
              {% endif %}
            >
            <span class="body">Price low to high</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="price-descending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'price-descending' %}
                checked
              {% endif %}
            >
            <span class="body">Price high to low</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="created-descending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'created-descending' %}
                checked
              {% endif %}
            >
            <span class="body">Newly added</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="created-ascending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'created-ascending' %}
                checked
              {% endif %}
            >
            <span class="body">Oldest first</span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="search-filter__footer">
    <button type="button" class="search-filter__apply-button body" onclick="applyFilters()">Apply Filters</button>
  </div>
</div>

<script
  src="{{ "snippet-search-filters.js" | asset_url }}"
  defer
></script>
