{{ 'snippet-search-filters.css' | asset_url | stylesheet_tag }}

<div class="search-filter">
  <div class="search-filter__content custom-scrollbar">
    <div class="search-filter__group search-filter__clear-all">
      <a
        href="{{ routes.search_url }}?q={{ search.terms | url_param_escape }}&type=product"
        class="search-filter__reset body"
        >Clear all filters</a
      >
    </div>

    <div class="search-filter__group search-filter__sort-by">
      <h3 class="search-filter__group-title body--bold">Sort by</h3>
      <ul class="search-filter__options">
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value=""
              class="search-filter__radio"
              {% unless request.params.sort_by %}
                checked
              {% endunless %}
            >
            <span class="body">Relevance</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="best-selling"
              class="search-filter__radio"
              {% if request.params.sort_by == 'best-selling' %}
                checked
              {% endif %}
            >
            <span class="body">Best selling</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="price-ascending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'price-ascending' %}
                checked
              {% endif %}
            >
            <span class="body">Price low to high</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="price-descending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'price-descending' %}
                checked
              {% endif %}
            >
            <span class="body">Price high to low</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="created-descending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'created-descending' %}
                checked
              {% endif %}
            >
            <span class="body">Newly added</span>
          </label>
        </li>
        <li class="search-filter__option">
          <label class="search-filter__radio-label">
            <input
              type="radio"
              name="sort_by"
              value="created-ascending"
              class="search-filter__radio"
              {% if request.params.sort_by == 'created-ascending' %}
                checked
              {% endif %}
            >
            <span class="body">Oldest first</span>
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="search-filter__footer">
    <button type="button" class="search-filter__apply-button body" onclick="applyFilters()">Apply Filters</button>
  </div>
</div>

<script
  src="{{ "snippet-search-filters.js" | asset_url }}"
  defer
></script>
