<div class="predictive-search">
  <form
    id="{{- id | default: 'header-search' -}}"
    action="{{ routes.search_url }}"
    method="get"
    role="search"
    class="predictive-search__form"
  >
    <div class="predictive-search__container">
      <input type="hidden" name="type" value="product">
      <input
        type="search"
        id="search"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="Search Peter Jackson..."
        maxlength="128"
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        class="predictive-search__input"
      >
      <input name="options[prefix]" type="hidden" value="last">
      <button type="submit" class="predictive-search__button">
        {% render '_icon-site-search' %}
      </button>
    </div>
  </form>
  <div id="predictive-search" class="predictive-search__results"></div>
</div>
