<style>
  .size-guide-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--white);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .size-guide-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #sizing-selection-content-paragraph {
    color: var(--neutral-600);
    max-width: 80ch;
  }

  .size-guide-title {
    margin: 0;
  }

  .main-tabs {
    display: flex;
    gap: var(--space-m);
  }

  .main-tab-button {
    border: none;
    background: none;
    padding: var(--space-3xs) 0px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    color: var(--neutral-950);
  }

  .main-tab-button.active {
    border-bottom: 1px solid var(--neutral-950);
  }

  .size-guide-content {
    display: flex;
    gap: var(--space-xl);
  }

  .size-guide-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: var(--space-l);
  }

  .size-guide-right {
    width: 60%;
    padding-top: var(--space-l);
    padding-right: 0px;
    padding-bottom: 0px;
    overflow-x: auto;
  }

  .size-guide-right > .tab-content.active {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
    height: 100%;
  }

  .guide-image {
    margin-bottom: var(--space-l);
    display: flex;
    justify-content: center;
  }

  .sizing-image {
    width: 100%;
    object-fit: contain;
  }

  .measurement-item p {
    color: var(--neutral-600);
    margin-top: 0;
    max-width: 80ch;
  }

  .size-button {
    border: none;
    background: none;
    padding: var(--space-3xs) 0px;
    cursor: pointer;
    margin-right: var(--space-m);
    border-bottom: 1px solid transparent;
    color: var(--neutral-950);
  }

  .size-button.active {
    border-bottom: 1px solid var(--neutral-950);
  }

  .size-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  .size-table th,
  .size-table td {
    text-align: left;
    white-space: nowrap;
    color: var(--neutral-600);
    padding-right: var(--space-xs);
    font-variant-numeric: tabular-nums;
  }

  .tab-content {
    display: none;
  }

  .tab-content > p {
    color: var(--neutral-600);
    max-width: 80ch;
  }

  .tab-content.active {
    display: block;
  }

  .size-content {
    display: none;
  }

  .size-content.active {
    display: table;
  }

  @media screen and (max-width: 1024px) {
    .size-guide-content {
      gap: var(--space-m);
    }

    .size-guide-header {
      flex-direction: column;
      align-items: flex-start;
      gap: var(--space-m);
    }

    .size-guide-left {
      padding-top: var(--space-m);
    }

    .guide-image {
      margin-bottom: var(--space-m);
    }

    .size-guide-right {
      padding-top: 0px;
    }

    .modal-content {
      padding: var(--space-m);
      padding-bottom: 0px;
    }

    .main-tabs {
      width: 100%;
      overflow-x: auto;
      flex-wrap: wrap;
    }

    .size-guide-content {
      flex-direction: column;
    }

    .size-guide-left,
    .size-guide-right {
      width: 100%;
    }

    .table-container {
      overflow-x: auto;
    }

    .modal-close {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 0px;
    }

    .size-guide-right > .tab-content.active {
      gap: var(--space-m);
    }

    .size-table {
      padding-bottom: var(--space-m);
    }

    .size-table th,
    .size-table td {
      padding-right: var(--space-s);
    }
  }
</style>

<div class="size-guide-container">
  <div class="size-guide-header">
    <h3 class="size-guide-title heading--xl">What's My Size?</h3>
    <div class="main-tabs">
      <button class="main-tab-button active body" data-tab="suit">Suit & Jacket</button>
      <button class="main-tab-button body" data-tab="pants">Trousers</button>
      <button class="main-tab-button body" data-tab="shirt">Shirts</button>
      <button class="main-tab-button body" data-tab="shoes">Shoes</button>
      <button
        type="button"
        class="modal-close"
      >
        {% render '_icon-close' %}
      </button>
    </div>
  </div>
  <div class="size-guide-content">
    <div class="size-guide-left">
      <div id="suit-left" class="tab-content active">
        <div class="guide-image">
          <img
            class="sizing-image"
            src="https://cdn.shopify.com/s/files/1/0898/1859/5696/files/peter-jackson-size-guide-illustration-jacket.svg?v=1751242545"
            alt="Suit measurement guide"
            width="300"
            height="300"
            loading="lazy"
          >
        </div>
        <p class="body" id="sizing-selection-content-paragraph">
          Find the perfect fit with our size chart. We offer 3 different fits for our tailored suits: Regular, short and
          long. These are determined by the length of the sleeve and jacket with a 3cm difference between fittings.
        </p>
      </div>

      <div id="pants-left" class="tab-content">
        <div class="guide-image">
          <img
            class="sizing-image"
            src="https://cdn.shopify.com/s/files/1/0898/1859/5696/files/peter-jackson-size-guide-illustration-trousers.svg?v=1751242545"
            alt="Trousers measurement guide"
            width="300"
            height="300"
            loading="lazy"
          >
        </div>
        <p class="body">
          Our trouser sizes go up in increments of 4cm. If your waist (point A.) measures 88cm, your trouser size is 88.
          If your waist is 90cm, it's better to go up to size 92 - always best to leave room for comfort.
        </p>
      </div>

      <div id="shirt-left" class="tab-content">
        <div class="guide-image">
          <img
            class="sizing-image"
            src="https://cdn.shopify.com/s/files/1/0898/1859/5696/files/peter-jackson-size-guide-illustration-shirts.svg?v=1751242545"
            alt="Shirt measurement guide"
            width="300"
            height="300"
            loading="lazy"
          >
        </div>
        <p class="body">
          Find the ultimate tailored companion with the right fit. Our tailored business shirts feature the signature
          cutaway collar. For a custom longer sleeve shirt contact us through our Made to Measure programme.
        </p>
      </div>

      <div id="shoes-left" class="tab-content">
        <div class="guide-image">
          <img
            class="sizing-image"
            src="https://cdn.shopify.com/s/files/1/0898/1859/5696/files/peter-jackson-size-guide-illustration-footwear.svg?v=1751242545"
            alt="Shoe measurement guide"
            width="300"
            height="300"
            loading="lazy"
          >
        </div>
        <p class="body">
          Our exclusive range of premium leather footwear is designed with UK sizing in mind. See the table to the right
          for reference. If you're not sure about your size feel free to contact us via our contact form.
        </p>
      </div>
    </div>

    <div class="size-guide-right custom-scrollbar">
      <div id="suit" class="tab-content active">
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">A. Chest:</span>
            With a tape measure wrap around the chest, pulling the tape firmly to gauge your centimetre measurement.
          </p>
        </div>
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">B. Sleeve Length:</span>
            With the arm naturally down, measure from the tip of your shoulder - where the shoulder seam meets the
            sleeve head down to the wrist. Please note - if you are purchasing a 2 piece suit, the trouser size that
            will come with the jacket is preselected.
          </p>
        </div>
        <div class="size-options">
          <p class="body--bold" style="margin-bottom: var(--space-xs);">Size Chart:</p>
          <button class="size-button body" data-size="short">Short</button>
          <button class="size-button body active" data-size="regular">Regular</button>
          <button class="size-button body" data-size="long">Long</button>
        </div>
        <div class="table-container custom-scrollbar">
          <table id="regular-table" class="size-table size-content active">
            <tbody>
              <tr class="body">
                <td>Casual Size</td>
                <td>S</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
                <td>L</td>
                <td>XL</td>
                <td>XL</td>
                <td>2XL</td>
                <td>2XL</td>
                <td>3XL</td>
                <td>3XL</td>
              </tr>
              <tr class="body">
                <td>Chest</td>
                <td>84</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
                <td>120</td>
                <td>124</td>
                <td>128</td>
              </tr>
              <tr class="body">
                <td>Sleeve</td>
                <td>62</td>
                <td>62.5</td>
                <td>63</td>
                <td>63.5</td>
                <td>64</td>
                <td>64.5</td>
                <td>65</td>
                <td>65.5</td>
                <td>66</td>
                <td>66.5</td>
                <td>67</td>
                <td>67.5</td>
              </tr>
              <tr class="body">
                <td>Trousers</td>
                <td>72</td>
                <td>76</td>
                <td>80</td>
                <td>84</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
              </tr>
            </tbody>
          </table>
          <table id="short-table" class="size-table size-content">
            <tbody>
              <tr class="body">
                <td>Casual Size</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
                <td>L</td>
                <td>XL</td>
                <td>XL</td>
                <td>2XL</td>
                <td>2XL</td>
                <td>3XL</td>
                <td>3XL</td>
              </tr>
              <tr class="body">
                <td>Chest</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
                <td>120</td>
                <td>124</td>
                <td>128</td>
              </tr>
              <tr class="body">
                <td>Sleeve</td>
                <td>59.5</td>
                <td>60</td>
                <td>60.5</td>
                <td>61</td>
                <td>61.5</td>
                <td>62</td>
                <td>62.5</td>
                <td>63</td>
                <td>63.5</td>
                <td>64</td>
                <td>64.5</td>
              </tr>
              <tr class="body">
                <td>Trousers</td>
                <td>76</td>
                <td>80</td>
                <td>84</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
              </tr>
            </tbody>
          </table>
          <table id="long-table" class="size-table size-content">
            <tbody>
              <tr class="body">
                <td>Casual Size</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
                <td>L</td>
                <td>XL</td>
                <td>XL</td>
                <td>2XL</td>
                <td>2XL</td>
                <td>3XL</td>
                <td>3XL</td>
              </tr>
              <tr class="body">
                <td>Chest</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
                <td>120</td>
                <td>124</td>
                <td>128</td>
              </tr>
              <tr class="body">
                <td>Sleeve</td>
                <td>65.5</td>
                <td>66</td>
                <td>66.5</td>
                <td>67</td>
                <td>67.5</td>
                <td>68</td>
                <td>68.5</td>
                <td>69</td>
                <td>69.5</td>
                <td>70</td>
                <td>70.5</td>
              </tr>
              <tr class="body">
                <td>Trousers</td>
                <td>76</td>
                <td>80</td>
                <td>84</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="pants" class="tab-content">
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">A. Waist:</span>
            Measure around the body at hip height pulling the tape firm.
          </p>
        </div>
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">B. Inleg:</span>
            Measure from the lowest part of your crotch area to the hem, or where your foot meets the ground (shoes off)
            - This relates to 2-piece suits. Separate trousers and chinos have a standard inleg of: 84cm, and 82cm for
            our range of cuffed trousers.
          </p>
        </div>

        <div class="table-container custom-scrollbar">
          <table class="size-table">
            <thead>
              <tr class="body">
                <td>Size</td>
                <td>76</td>
                <td>80</td>
                <td>84</td>
                <td>88</td>
                <td>92</td>
                <td>96</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>116</td>
              </tr>
            </thead>
            <tbody>
              <tr class="body">
                <td>Inleg Short</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
                <td>80</td>
              </tr>
              <tr class="body">
                <td>Inleg Regular</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
                <td>82</td>
              </tr>
              <tr class="body">
                <td>Inleg Long</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
                <td>85</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="shirt" class="tab-content">
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">A. Neck:</span>
            Measure around base of neck near Adam's apple. A correct fitting shirt should have one finger gap from the
            tape measure to skin.
          </p>
        </div>
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">B. Sleeve Length:</span>
            Measure from the shoulder seam to the crease of where your hand meets your wrist.
          </p>
        </div>

        <div class="table-container custom-scrollbar">
          <table class="size-table">
            <thead>
              <tr class="body">
                <td>Casual Size</td>
                <td>S</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
                <td>L</td>
                <td>XL</td>
                <td>XL</td>
                <td>2XL</td>
                <td>2XL</td>
                <td>2XL</td>
              </tr>
            </thead>
            <tbody>
              <tr class="body">
                <td>Business</td>
                <td>37</td>
                <td>38</td>
                <td>39</td>
                <td>40</td>
                <td>41</td>
                <td>42</td>
                <td>43</td>
                <td>44</td>
                <td>46</td>
                <td>48</td>
                <td>50</td>
              </tr>
              <tr class="body">
                <td>Chest</td>
                <td>100</td>
                <td>104</td>
                <td>108</td>
                <td>112</td>
                <td>114</td>
                <td>118</td>
                <td>122</td>
                <td>126</td>
                <td>130</td>
                <td>134</td>
                <td>142</td>
              </tr>
              <tr class="body">
                <td>Sleeve</td>
                <td>61</td>
                <td>61</td>
                <td>63.5</td>
                <td>63.5</td>
                <td>65</td>
                <td>65</td>
                <td>66.5</td>
                <td>68</td>
                <td>68</td>
                <td>69.5</td>
                <td>69.5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="shoes" class="tab-content">
        <div class="measurement-item">
          <p class="body">
            <span class="body--bold" style="color: var(--neutral-950);">Foot Size:</span>
            Our shoes are standard designed and width in UK sizes.
          </p>
        </div>

        <div class="table-container custom-scrollbar">
          <table class="size-table">
            <tbody>
              <tr class="body">
                <td>UK</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
              </tr>
              <tr class="body">
                <td>US</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
              </tr>
              <tr class="body">
                <td>EU</td>
                <td>40</td>
                <td>41</td>
                <td>42</td>
                <td>43</td>
                <td>44</td>
                <td>45</td>
                <td>46</td>
                <td>47</td>
                <td>48</td>
              </tr>
              <tr class="body">
                <td>Length</td>
                <td>25.4</td>
                <td>26.2</td>
                <td>27.1</td>
                <td>27.9</td>
                <td>28.8</td>
                <td>29.6</td>
                <td>30.5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script
  src="{{ "snippet-size-guide.js" | asset_url }}"
  defer
></script>
