{% doc %}
This snippet renders a product within the splide slider for the "shop the look" section.

@param{string} sectionId - The section ID this snippet is being rendered on
{% enddoc %}

{% assign sectionId = section.id %}
{% if customer and customer.has_account %}
  <p>User Logged In. Wishlisted Items: </p>
  <ul>
  {% for p in customer.metafields.custom.wishlist_products %}
    <li>{{ p.title }}</li>
  {% endfor %}
  </ul>
{% endif %}

<button class="wishlist-button">Wishlist</button>

<pre><code>
    {{ customer | json | escape }}
  </code></pre>

<script
  data-section-id="{{ sectionId }}"
  defer
>
  (() => {
    const sectionId = document.currentScript.getAttribute("data-section-id")
    const section = document.querySelector(`#${sectionId}`)
    const btn = section.querySelector(".wishlist-button")
  })()
</script>