{% doc %}
This snippet renders a product within the splide slider for the "shop the look" section.

@param{bool} in_wishlist - If the product is inside the customer's wishlist
@param{string} product - The product this button is associated with
{% enddoc %}

{% liquid
  assign button_text = "Add To Wishlist"
  if in_wishlist
    assign button_text = "Remove From Wishlist"
  endif
%}

<form class="wishlist-form" data-is-wishlisted="{{ product_is_wishlisted }}">
  <button type="submit" class="wishlist-button">{{ button_text }}</button>
</form>