{% doc %}
This snippet renders a product within the splide slider for the "shop the look" section.

@param{string} sectionId - The section ID this snippet is being rendered on
{% enddoc %}

{% assign sectionId = section.id %}

{% if customer %}
  {% assign wishlistedItems = customer.metafields.custom.wishlist_products.value %}
  <p>User Logged In. Wishlisted Items: </p>
  <ul>
  {% for p in wishlistedItems %}
    <li>{{ p.title }}</li>
  {% endfor %}
  </ul>
{% endif %}
<button class="wishlist-button">Wishlist {{ customer.name }}</button>

<script
  data-section-id="{{ sectionId }}"
  defer
>
  (() => {
    const sectionId = document.currentScript.getAttribute("data-section-id")
    const section = document.querySelector(`#${sectionId}`)
    const btn = section.querySelector(".wishlist-button")
  })()
</script>