{% comment %}
  Blog Header - Sticky header navigation used on blog collection pages and some blog posts.
{% endcomment %}

{{ 'section-blog-header.css' | asset_url | stylesheet_tag }}

{% assign journal_type = section.settings.journal_type %}

{% if journal_type == 'jackson' %}
  <div class="blog-header">
    <h1 class="blog-header__title heading--decorative">The Jackson Journal</h1>
    <nav class="blog-header__nav">
      <a href="/pages/the-jackson-journal#blog-collection" class="blog-header__link body--uppercase">Latest</a>
      <a href="/pages/the-jackson-journal?tag=Style#blog-collection" class="blog-header__link body--uppercase">Style</a>
      <a href="/pages/the-jackson-journal?tag=Campaign#blog-collection" class="blog-header__link body--uppercase"
        >Campaign</a
      >
      <a href="/pages/the-jackson-journal?tag=Features#blog-collection" class="blog-header__link body--uppercase"
        >Features</a
      >
      <a href="/pages/the-empowered-mind#blog-collection" class="blog-header__link body--uppercase">Lifestyle</a>
    </nav>
  </div>
{% elsif journal_type == 'empowered' %}
  <div class="blog-header">
    <h1 class="blog-header__title heading--decorative">The Empowered Mind</h1>
    <nav class="blog-header__nav">
      <a href="/pages/the-empowered-mind#blog-collection" class="blog-header__link body--uppercase">Latest</a>
      <a href="/pages/the-empowered-mind?tag=Mental%20Health#blog-collection" class="blog-header__link body--uppercase"
        >Mental Health</a
      >
      <a href="/pages/the-empowered-mind?tag=Fitness#blog-collection" class="blog-header__link body--uppercase"
        >Fitness</a
      >
      <a href="/pages/the-empowered-mind?tag=Wellbeing#blog-collection" class="blog-header__link body--uppercase"
        >Wellbeing</a
      >
      <a href="/pages/the-empowered-mind?tag=Relationships#blog-collection" class="blog-header__link body--uppercase"
        >Relationships</a
      >
      <a href="/pages/the-empowered-mind?tag=Work#blog-collection" class="blog-header__link body--uppercase">Work</a>
      <a href="/pages/the-empowered-mind?tag=Parenting#blog-collection" class="blog-header__link body--uppercase"
        >Parenting</a
      >
    </nav>
  </div>
{% endif %}

<script src="{{ "section-blog-section-footer.js" | asset_url }}" defer></script>

{% schema %}
{
  "name": "Blog Header",
  "tag": "section",
  "class": "blog-header-section",
  "settings": [
    {
      "type": "select",
      "id": "journal_type",
      "label": "Journal Type",
      "options": [
        {
          "value": "jackson",
          "label": "The Jackson Journal"
        },
        {
          "value": "empowered",
          "label": "The Empowered Mind"
        }
      ],
      "default": "jackson"
    }
  ],
  "presets": [
    {
      "name": "Blog Header",
      "category": "Blog"
    }
  ]
}
{% endschema %}
