{{ 'section-careers.css' | asset_url | stylesheet_tag }}

{% assign career_image = section.settings.career_image %}

<div id="careers-container">
  {% if career_image %}
    <img
      id="visual"
      alt="Peter Jackson Careers"
      src="{{ career_image | image_url: width: '2000' }}"
      loading="lazy"
      height="100"
      width="100"
    >
  {% endif %}

  <section id="careers-page">
    <h1 class="heading--2xl" style="margin-bottom: var(--space-s)">Careers</h1>
    <p class="body careers-page__content">
      Join the Peter Jackson team and become part of a storied legacy in men's fashion, where quality, style, and
      exceptional service have been our hallmarks since 1948.
    </p>

    <hr>

    <h5 class="body--bold careers-page__content">Join the team</h5>

    <p class="body careers-page__content">
      Peter Jackson, a name synonymous with quality tailoring since 1948, continues to expand nationally while
      maintaining a strong commitment to top-notch customer service and apparel.<br>
      <br>
      We're seeking fashion-forward, service-oriented team players with exceptional people skills to help grow our
      iconic brand and build a career in Australian men's fashion.<br>
      <br>
      Join us in upholding our legacy.
    </p>

    <form
      id="contact-form"
      action="https://formspree.io/f/xldedvgw"
      method="POST"
      enctype="multipart/form-data"
    >
      <section class="careers-form__form-row careers-form__form-row--3-column">
        <input
          class="small"
          placeholder="Full Name"
          required
          type="text"
          name="name"
        >
        <input
          class="small"
          placeholder="Email"
          required
          type="email"
          name="email"
        >
        <input
          class="small"
          placeholder="Phone"
          required
          type="text"
          name="phone"
        >
      </section>

      <section class="careers-form__form-row careers-form__form-row--3-column">
        <select class="small" required name="role">
          <option value="">Role</option>
          <option value="Sales">Sales</option>
          <option value="Marketing">Marketing</option>
          <option value="Customer Service">Customer Service</option>
          <option value="Other">Other</option>
        </select>

        <select class="small" required name="state">
          <option value="">State</option>
          <option value="NSW">NSW</option>
          <option value="VIC">VIC</option>
          <option value="QLD">QLD</option>
          <option value="SA">SA</option>
          <option value="WA">WA</option>
          <option value="ACT">ACT</option>
        </select>

        <div class="careers-form__radio-group">
          <input
            id="availability-full"
            type="checkbox"
            name="full-time-availability"
            value="Full Time"
          >
          <label class="small" for="availability-full">Full Time</label>

          <input
            id="availability-part"
            type="checkbox"
            name="part-time-availability"
            value="Part Time"
          >
          <label class="small" for="availability-part">Part Time</label>

          <input
            id="availability-casual"
            type="checkbox"
            name="casual-availability"
            value="Casual"
          >
          <label class="small" for="availability-casual">Casual</label>
        </div>
      </section>

      <section class="careers-form__form-row">
        <textarea
          class="small"
          name="message"
          placeholder="Message"
        ></textarea>
      </section>

      <section class="careers-submit-section">
        <input type="file" name="upload">
        <button class="careers-submit-section__uploadcv-button small" type="button">UPLOAD CV</button>
        <button class="body" id="career-submit-button" type="submit">Send</button>
      </section>
    </form>

    <section id="success-modal">
      <section id="success-modal-content">
        <button
          id="close-modal"
          class="success-modal__modal-close-btn"
        >
          &times;
        </button>
        <h3 class="heading--2xl">Thank You!</h3>
        <p class="body">Thank you for your interest in joining the Peter Jackson team!</p>
        <p class="body">
          We value diversity, innovation, and a commitment to excellence. If a position becomes available that matches
          your background, we'll be in touch.
        </p>
      </section>
    </section>
  </section>
</div>

<script
  src="{{ 'section-careers.js' | asset_url }}"
  defer
></script>

{% schema %}
{
  "name": "Careers",
  "limit": 1,
  "settings": [
    {
      "type": "image_picker",
      "id": "career_image",
      "label": "Career Image"
    }
  ],
  "presets": [
    {
      "name": "Careers",
      "category": "Forms"
    }
  ],
  "enabled_on": {
    "templates": ["page"]
  }
}
{% endschema %}
