{% comment %}
  Collection Header
{% endcomment %}

<style>
  .collection-header {
    border-top: 1px solid var(--neutral-200);
    border-bottom: 1px solid var(--neutral-200);
    padding: var(--space-xs) var(--space-m);
  }

  .collection-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-l);
  }

  .collection-header__title {
    flex: 0 0 auto;
  }

  .collection-header__related {
    flex: 1 1 auto;
  }

  .collection-header__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    gap: var(--space-m);
    list-style: none;
  }

  .collection-header__link {
    text-decoration: none;
    color: var(--neutral-950);
  }

  @media screen and (max-width: 768px) {
    .collection-header__wrapper {
      flex-direction: column;
    }

    .collection-header__related {
      overflow-x: auto;
    }

    .collection-header__list {
      flex-wrap: nowrap;
      padding-bottom: var(--space-s);
    }
  }
</style>

<section class="collection-header">
  <div class="collection-header__wrapper">
    <div class="collection-header__title">
      <h1 class="heading--xl">{{ collection.title }}</h1>
    </div>

    <div class="collection-header__related">
      {% if collection.metafields.custom.related_collections %}
        <ul class="collection-header__list">
          {% for collection_ref in collection.metafields.custom.related_collections.value %}
            {% assign related_collection = collection_ref %}
            <li class="collection-header__item">
              <a href="{{ related_collection.url }}" class="collection-header__link body--uppercase">
                {{ related_collection.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Header",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Collection Header"
    }
  ]
}
{% endschema %}
