{% comment %}
  Collection Expandable Content Section
{% endcomment %}

{% assign collection_expandable_content = collection.metafields.custom.collection_expandable_content.value %}

<div class="collection-expandable-content">
  {% if collection_expandable_content %}
    {% for content_entry in collection_expandable_content %}
      {% assign associated_collection = content_entry.associated_collection.value %}

      {% if associated_collection.id == collection.id %}
        <accordion-element
          class="collection-expandable-content__item body--bold"
          data-title="{{ content_entry.heading }}"
        >
          <div class="body">
            {{ content_entry.body | metafield_tag }}
          </div>
        </accordion-element>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection Content",
  "tag": "section",
  "limit": 1,
  "settings": [],
  "presets": [
    {
      "name": "Collection Content"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
