{% comment %}
  Collection Header
  Refactored by Jed 15th August 2025
{% endcomment %}

{{ 'section-collection-header.css' | asset_url | stylesheet_tag }}

{% assign title = collection.title %}
{% assign related_collections = collection.metafields.custom.related_collections %}

<div class="collection-header">
  <div class="collection-header__wrapper">
    <div class="collection-header__title">
      <h1 class="heading--xl">{{ title }}</h1>
    </div>

    <div class="collection-header__related custom-scrollbar">
      {% if related_collections %}
        <ul class="collection-header__list">
          {% for collection_ref in related_collections.value %}
            {% assign related_collection = collection_ref %}
            <li class="collection-header__item">
              <a href="{{ related_collection.url }}" class="collection-header__link body--uppercase">
                {{ related_collection.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Header",
  "limit": 1,
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Collection Header"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
