{% comment %}
  Collection Header
{% endcomment %}

{{ 'section-collection-header.css' | asset_url | stylesheet_tag }}

<div class="collection-header">
  <div class="collection-header__wrapper">
    <div class="collection-header__title">
      <h1 class="heading--xl">{{ collection.title }}</h1>
    </div>
    <div class="collection-header__related custom-scrollbar">
      {% if collection.metafields.custom.related_collections %}
        <ul class="collection-header__list">
          {% for collection_ref in collection.metafields.custom.related_collections.value %}
            <li>
              <a href="{{ collection_ref.url }}" class="collection-header__link body--uppercase">
                {{ collection_ref.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Header",
  "limit": 1,
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "Collection Header"
    }
  ],
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}
