<header id="site-header" class="header container">
  <button type="button" class="hamburger-menu" onclick="window.toggleNav();">
    <div class="hamburger-icon">
      {% render 'icon-hamburger-menu' %}
    </div>
  </button>
  <div class="header__logo">
    <a href="/">
      {% render 'icon-peter-jackson' %}
    </a>
  </div>
  <ul class="header__icons">
    <li>
      <a href="/account">
        {% render 'icon-account' %}
      </a>
    </li>
    <li>
      <a href="{{ routes.cart_url }}" style="text-decoration: none;">
        {%- render 'icon-cart' %}
        <span class="js--cart-counter">{{ cart.item_count }}</span></a
      >
    </li>
  </ul>
</header>

{% render 'menu' %}
