<header class="header container">
  <button type="button" onclick="window.toggleNav();">Menu</button>
  <div class="header__logo">
    <a href="/">Peter Jackson</a>
  </div>
  <ul class="header__icons">
    <li><a href="/account">Account</a></li>
    <li>
      <a href="{{ routes.cart_url }}"
        >Cart (<span class="js--cart-counter">{{ cart.item_count }}</span>)</a
      >
    </li>
  </ul>
</header>

{% render 'menu' %}
