{% comment %}
  Link List Section
{% endcomment %}

<style>
  .link-list {
    padding: var(--space-m);
  }

  .link-list__wrapper {
    display: flex;
    align-items: flex-start;
    gap: var(--space-m);
  }

  .link-list--align-left .link-list__wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .link-list--align-center .link-list__wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .link-list--align-right .link-list__wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }

  .link-list__title {
    flex: 0 0 auto;
    padding: var(--space-xs) 0;
  }

  .link-list__content {
    flex: 1 1 auto;
    display: flex;
  }

  .link-list--align-left .link-list__content {
    justify-content: flex-start;
  }

  .link-list--align-center .link-list__content {
    justify-content: center;
  }

  .link-list--align-right .link-list__content {
    justify-content: flex-end;
  }

  .link-list__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-m);
    list-style: none;
    padding: var(--space-s) 0;
  }

  .link-list--align-center .link-list__list {
    justify-content: center;
  }

  .link-list--align-right .link-list__list {
    justify-content: flex-end;
  }

  .link-list__link {
    white-space: nowrap;
    text-decoration: none;
    color: var(--neutral-950);
  }

  @media screen and (max-width: 768px) {
    .link-list__wrapper {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .link-list__content {
      justify-content: center;
      width: 100%;
    }

    .link-list__list {
      justify-content: center;
    }
  }
</style>

<div class="link-list link-list--align-{{ section.settings.alignment }}">
  <div class="link-list__wrapper">
    {% if section.settings.heading != blank %}
      <div class="link-list__title">
        <h2 class="heading--xl">{{ section.settings.heading }}</h2>
      </div>
    {% endif %}

    <div class="link-list__content">
      <ul class="link-list__list">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'link' %}
              {% if block.settings.link_text != blank and block.settings.link_url != blank %}
                <li class="link-list__item">
                  <a href="{{ block.settings.link_url }}" class="link-list__link body--uppercase">
                    {{ block.settings.link_text }}
                  </a>
                </li>
              {% endif %}
          {% endcase %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Link List",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "info": "Optional heading for the link list"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Desktop Alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Link List",
      "blocks": [
        {
          "type": "link",
          "settings": {
            "link_text": "Shop All",
            "link_url": "/collections/all"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "New Arrivals",
            "link_url": "/collections/new-arrivals"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "Best Sellers",
            "link_url": "/collections/best-sellers"
          }
        }
      ]
    }
  ]
}
{% endschema %}
