{% comment %}
  Customer Wishlist - Displays all of the customer's wishlisted items
{% endcomment %}

{% assign wishlisted_products = customer.metafields.custom.wishlist.value %}
{% assign amount_in_wishlist = wishlisted_products.size %}

<style>
.wishlist-content__not-signed-in {
  background-color: var(--white);
  border-top: 1px solid var(--neutral-50);
  padding: var(--space-3xl) var(--space-m);
  text-align: center;
}
</style>

{% if amount_in_wishlist == 0 %}
<div class="wishlist-content__no-items-found">
  <p class="heading--l" style="color: var(--neutral-950)">Sorry, there are no products to show</p>
  <!-- TODO - Add recent products section here -->
</div>
{% elsif customer == nil %}
<div class="wishlist-content__not-signed-in">
  <p class="wishlist-not-signed-in__pj heading--decorative">Peter Jackson</p>
  <h1 class="wishlist-not-signed-in__header heading--3xl" data-title="Page not found">404: Page Not Found</h1>
  <div class="wishlist-not-signed-in__description">
    <p class="body">Sorry the page you are looking for could not be found. It may have been moved or deleted.</p>
  </div>
  <p>
    <a href="{{ routes.account_login_url }}" class="wishlist-not-signed-in__sign-in-button">View Our New Arrivals</a>
  </p>
</div>
{% else %}
<ul>
  {% for current_product in wishlisted_products %}
    <li>Product: {{ current_product.id }}</li>
  {% endfor %}
</ul>
{% endif %}

{% schema %}
{
  "name": "Wishlist",
  "limit": 1,
  "tag": "section",
  "presets": [ { "name": "Wishlist" } ]
}
{% endschema %}