<div class="section-wrap">
  <div class="section">
    <div class="rte">
      {{ collection.description }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Description",
  "settings": [
    {
      "type": "paragraph",
      "content": "Display collection description."
    }
  ]
}
{% endschema %}
