{% comment %}
  Customer Wishlist - Displays all of the customer's wishlisted items
{% endcomment %}

{{ "section-main-wishlist.css" | asset_url | stylesheet_tag }}

{% assign wishlisted_products = customer.metafields.custom.wishlist.value %}
{% assign amount_in_wishlist = wishlisted_products.size %}

<script>
  console.log("dhnsuheoantshuntseohntuaehotn", {{ amount_in_wishlist }})
</script>

<p>Test {{ amount_in_wishlist }}</p>

{% if amount_in_wishlist == 0 %}
<div class="wishlist-content__no-items-found">
<p>Test</p>
</div>
{% elsif customer == nil %}
<div class="wishlist-content__not-signed-in">
  <p class="wishlist-not-signed-in__pj heading--decorative">Peter Jackson</p>
  <h1 class="wishlist-not-signed-in__header heading--3xl" data-title="Page not found">Your Wishlist</h1>
  <div class="wishlist-not-signed-in__description">
    <p class="body">You must be logged in to manage your wishlist</p>
  </div>
  <p>
    <a href="{{ routes.account_login_url }}" class="wishlist-not-signed-in__sign-in-button button">Log In</a>
  </p>
</div>
{% else %}
  <div class="wishlist-content__products-header">
    <h2 class="heading-l">Your Wishlist</h2>
  </div>
  <div class="wishlist-content__products">
    {% for current_product in wishlisted_products %}
      {% render 'product-card', product: current_product, image_width: 520 %}
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Wishlist",
  "limit": 1,
  "tag": "section",
  "presets": [ { "name": "Wishlist" } ]
}
{% endschema %}