{% comment %}
  Customer Wishlist - Displays all of the customer's wishlisted items
{% endcomment %}

{{ "section-main-wishlist.css" | asset_url | stylesheet_tag }}

{% assign wishlisted_products = customer.metafields.custom.wishlist.value %}
{% assign amount_in_wishlist = wishlisted_products | size %}

{% if customer == nil %}
  <!-- Shows when the customer is not signed in -->
  <div class="wishlist__state wishlist__state--unauthenticated">
    <p class="wishlist__state-title heading--decorative">Peter Jackson</p>
    <h1 class="wishlist__state-heading heading--3xl" data-title="Page not found">Your Wishlist</h1>
    <div class="wishlist__state-description">
      <p class="body">You must be logged in to manage your wishlist</p>
    </div>
    <p>
      <a href="{{ routes.account_login_url }}" class="wishlist__state-button button">Log In</a>
    </p>
  </div>

{% elsif amount_in_wishlist == 0 %}
  <!-- Shows when there are no products in the customer's wishlist -->
  <div class="wishlist__state wishlist__state--empty">
    <p class="wishlist__state-title heading--decorative">Peter Jackson</p>
    <h1 class="wishlist__state-heading heading--3xl" data-title="Page not found">Your Wishlist</h1>
    <div class="wishlist__state-description">
      <p class="body">There are no products in your wishlist</p>
    </div>
    <p>
      <a href="/collections/new-arrivals" class="wishlist__state-button button">Go to new arrivals</a>
    </p>
  </div>

{% else %}
  <!-- Shows when there are products in the wishlist -->
  <div class="wishlist__products-header">
    <h2 class="heading-l">Your Wishlist</h2>
  </div>
  <div class="wishlist__products">
    {% for current_product in wishlisted_products %}
      {% render 'product-card', product: current_product, image_width: 520 %}
    {% endfor %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Wishlist",
  "limit": 1,
  "tag": "section",
  "presets": [ { "name": "Wishlist" } ]
}
{% endschema %}
