{% comment %}
  Collection Description
{% endcomment %}

{% stylesheet %}
  .collection-description__container {
    padding: var(--space-m);
  }

  .collection-description__text,
  .collection-description__text > p > a {
    max-width: 80ch;
    color: var(--neutral-600) !important;
  }

  .collection-description__text > p > strong {
    color: var(--neutral-950) !important;
    font-family: 'Ordinary Regular';
  }
{% endstylesheet %}

<section class="section-wrap collection-description__container">
  <div class="section">
    <div class="rte collection-description__text body">
      {{ collection.description }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection Description",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Display collection description."
    }
  ]
}
{% endschema %}
