{%- comment -%}
  Section: Schedule Your Appointment
{%- endcomment -%}

{% assign heading = section.settings.heading %}

<div class="schedule-appointment-section">
  <h1 style="text-align: center;">{{ heading }}</h1>
  <p>
    <iframe
      src="https://app.acuityscheduling.com/schedule.php?owner=12422034"
      width="100%"
      height="800"
      frameborder="0"
    ></iframe>
  </p>
</div>

{% schema %}
{
  "name": "Schedule Your Appointment",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Schedule Your Appointment"
    }
  ],
  "presets": [
    {
      "name": "Schedule Your Appointment"
    }
  ]
}
{% endschema %}
