{%- comment -%}
  Section: Schedule Your Appointment
{%- endcomment -%}

<div class="schedule-appointment-section">
  <h1 style="text-align: center;">Schedule Your Appointment</h1>
  <p>
    <iframe
      src="https://app.acuityscheduling.com/schedule.php?owner=12422034"
      width="100%"
      height="800"
      frameborder="0"
    ></iframe>
  </p>
</div>

{% schema %}
{
  "name": "Schedule Your Appointment",
  "class": "section",
  "settings": []
}
{% endschema %}
