@font-face {
  font-family: "Ordinary Regular";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/ordinary-display-regular.woff2?v=1742796201")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ordinary Light";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/ordinary-display-light.woff2?v=1742796170")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "The Wedding Signature";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/the-wedding-signature-regular.woff2?v=1743742147")
    format("woff2");
  font-display: swap;
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ordinary Light", sans-serif;
}

html:focus-within,
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style-position: inside;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* Variables */

:root {
  /* Fluid Spacing */
  --space-3xs: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  --space-s: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  --space-l: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  --space-xl: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.8rem + 1vw, 5rem);
  --space-3xl: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);

  /* Colours */
  --white: #ffffff;
  --green-50: #eaf8f1;
  --green-100: #d4ede1;
  --green-200: #bae3cf;
  --green-300: #9ed8bc;
  --green-400: #48b381;
  --green-500: #398e64;
  --green-600: #2c6d4e;
  --green-700: #204e39;
  --green-800: #132c1f;
  --green-900: #0c1e15;
  --green-950: #06120b;
  --neutral-50: #f3f3f3;
  --neutral-100: #e7e7e7;
  --neutral-200: #dadada;
  --neutral-300: #cbcbcb;
  --neutral-400: #a0a0a0;
  --neutral-500: #7e7e7e;
  --neutral-600: #616161;
  --neutral-700: #444444;
  --neutral-800: #272727;
  --neutral-900: #191919;
  --neutral-950: #0f0f0f;

  /* Typography */
  --ordinary-regular: "Ordinary Regular", sans-serif;
  --ordinary-light: "Ordinary Light", sans-serif;
}

/* Global Styles */

.hide {
  display: none !important;
}

.metafield-rich_text_field > * {
  margin-bottom: var(--space-m);
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
}

.metafield-rich_text_field > *,
.metafield-rich_text_field > * > a,
.metafield-rich_text_field > p > a,
.metafield-rich_text_field > * > li > *,
.line > p > a {
  color: var(--neutral-600) !important;
}

.metafield-rich_text_field > p > strong,
.metafield-rich_text_field > * > li > strong {
  color: var(--neutral-950) !important;
  font-family: var(--ordinary-regular);
  font-weight: 500;
}

.breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-3xs);
  list-style: none;
  color: var(--neutral-950);
}

.breadcrumb__item {
  position: relative;
}

.breadcrumb__link {
  color: var(--neutral-950);
}

/* Splide */

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized,
.splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 1px solid var(--neutral-50);
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: var(--space-m);
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--space-m);
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play,
.splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

/* Ploiu Vanilla JS Accordion */

accordion-element {
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--neutral-50);
}

accordion-element > .ploiu-accordion-title {
  padding: var(--space-m);
  padding-right: calc(var(--space-m) * 2 + 7px);
  background-color: var(--white);
  text-transform: uppercase;
  color: var(--neutral-950);
  cursor: pointer;
  position: relative;
}

accordion-element > .ploiu-accordion-title::after {
  content: "";
  position: absolute;
  right: var(--space-m);
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%230F0F0F' stroke-linecap='square'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease;
}

accordion-element.open > .ploiu-accordion-title::after {
  transform: rotateZ(-90deg);
}

accordion-element > .ploiu-accordion-body {
  max-width: 120ch;
  overflow: hidden;
  padding: 0 var(--space-m);
  margin: 0 0 var(--space-m) 0;
  color: var(--neutral-600);
  transition: height 0.3s;
}

accordion-element > .ploiu-accordion-body > .body > p > strong,
accordion-element > .ploiu-accordion-body > .body > * > li > strong {
  color: var(--neutral-950);
  font-family: var(--ordinary-regular);
  font-weight: 500;
}

accordion-element > .ploiu-accordion-body > .body > p > a,
accordion-element > .ploiu-accordion-body > .body > * > li > * {
  color: var(--neutral-600);
}

accordion-element:not(.open) > .ploiu-accordion-body {
  height: 0 !important;
  padding: 0 var(--space-m);
  margin: 0 !important;
}

accordion-element.open {
  height: max-content;
}

accordion-element.open > .ploiu-accordion-title {
  background-color: var(--white);
}

accordion-element.open > .ploiu-accordion-body {
  margin-bottom: 0px !important;
}

accordion-fan {
  display: block;
  width: 100%;
}

accordion-fan > accordion-element {
  border-radius: 0;
  width: 100%;
}

accordion-fan > accordion-element > .ploiu-accordion-title {
  width: auto;
}

/* Typography */

.small {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: var(--ordinary-light);
  font-size: clamp(0.5787rem, 0.5498rem + 0.1447vw, 0.7234rem);
}

.body,
p,
li {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: var(--ordinary-light);
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 300;
}

.body--uppercase {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: var(--ordinary-light);
  text-transform: uppercase;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 300;
}

.body--bold,
h5,
h6 {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: var(--ordinary-regular);
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 500;
}

.heading--l,
h4 {
  line-height: 140%;
  letter-spacing: 0.125rem;
  font-family: var(--ordinary-regular);
  font-size: clamp(0.8333rem, 0.7917rem + 0.2083vw, 1.0417rem);
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.heading--xl,
h3 {
  line-height: 140%;
  font-family: var(--ordinary-regular);
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 500;
}

.heading--2xl,
h2 {
  line-height: 140%;
  letter-spacing: 0.125rem;
  font-family: var(--ordinary-regular);
  font-size: clamp(1.2rem, 1.14rem + 0.3vw, 1.5rem);
  font-weight: 500;
}

.heading--decorative {
  font-family: "The Wedding Signature";
  line-height: 100%;
  font-size: clamp(2.4883rem, 2.3639rem + 0.6221vw, 3.1104rem);
  font-weight: 500;
  letter-spacing: 0 !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.heading--3xl,
h1 {
  line-height: 100%;
  letter-spacing: 0.2rem;
  font-family: var(--ordinary-light);
  font-size: clamp(2.986rem, 2.8367rem + 0.7465vw, 3.7325rem);
  font-weight: 300;
}

.heading--4xl {
  line-height: 100%;
  letter-spacing: 0.2rem;
  font-family: var(--ordinary-regular);
  font-size: clamp(3.5832rem, 3.404rem + 0.8958vw, 4.479rem);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .small,
  .body,
  .body--uppercase,
  .body--bold {
    font-size: 12px !important;
  }
}

/* UI */

.button,
.klaviyo-form-WH7CVh > div > form > div > div > div > button.needsclick {
  padding: var(--space-xs) var(--space-l) !important;
  font-family: var(--ordinary-light) !important;
  text-align: center !important;
}

.klaviyo-form-WH7CVh > div > form > div > div > div > button.needsclick {
  background: var(--neutral-950) !important;
}

input,
input::placeholder {
  line-height: 140% !important;
  letter-spacing: 0.1rem !important;
  font-family: var(--ordinary-light) !important;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem) !important;
}

input:focus-visible {
  outline-width: 0px !important;
}

.button--white {
  border: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  backdrop-filter: blur(0.25rem);
}

.product-card__swatches {
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  padding-top: var(--space-3xs);
}

.product-card__swatch-link {
  display: block;
  width: 20px;
  height: 20px;
  box-shadow: none;
  outline: none;
  text-decoration: none;
}

.product-card__swatch {
  width: var(--space-xs);
  height: var(--space-xs);
  border: 1px solid transparent;
}

.product-card__swatch--white {
  border-color: var(--neutral-400);
}

@media screen and (max-width: 768px) {
  input,
  input::placeholder {
    font-size: 16px !important;
  }
  .product-card__swatches {
    gap: var(--space-2xs);
  }
}

/* Header */

header {
  position: relative;
}

#site-header {
  width: 100%;
  z-index: 9996;
}

#header-spacer {
  height: var(--space-xl);
}

#site-header.header-fixed {
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--neutral-50);
}

#site-header.header-fixed.is-visible {
  top: 0;
}

.header {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--space-xl);
  padding: 0 var(--space-m);
}

.header__logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__icons {
  display: flex;
  list-style: none;
  gap: var(--space-s);
  align-items: center;
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
}

.hamburger-svg {
  display: block;
  width: 17px;
  height: 17px;
}

.hamburger-line {
  transition: all 0.3s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.nav-open .top-line {
  transform: translate(0, 4px) rotate(45deg);
}

.nav-open .bottom-line {
  transform: translate(0, -4px) rotate(-45deg);
}

.cart-count-indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ff0000;
  position: absolute;
  bottom: -2px;
  right: -5px;
}

.header__search-desktop {
  display: none;
}

.header__left {
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.header__search-mobile {
  display: block;
  list-style: none;
}

@media screen and (min-width: 769px) {
  .header__search-desktop {
    display: block;
    margin-top: 3px;
  }
  .header__search-mobile {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .header__logo {
    width: 160px;
  }
}

/* Footer */

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

/* Search */

.predictive-search__form {
  position: relative;
  width: 100%;
}

.predictive-search__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--neutral-50);
  background: transparent;
  color: var(--neutral-950);
  padding: var(--space-m) 0px;
}

.predictive-search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.predictive-search__input:focus {
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

.predictive-search__button {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#predictive-search {
  position: relative;
}

@media (min-width: 769px) {
  .search-drawer__content .predictive-search__input {
    padding: var(--space-s) 0px;
  }

  .search-drawer__content .predictive-search__button {
    right: 0;
  }
}

/* Accessibility */

a.skip-to-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

a.skip-to-content:focus-visible {
  position: relative;
  transform: translateX(0%);
}

/* Splide Slider */

.splide__arrows {
  display: flex;
  gap: var(--space-m);
  margin-bottom: var(--space-s);
}

.splide__arrow {
  background-color: transparent;
  border: none;
  width: 7px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--neutral-50);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--neutral-100);
  border-radius: 0 !important;
  border-left: 1px solid var(--neutral-50);
}

/* Loading Spinner */

.loader--spinner {
  width: 16px;
  height: 16px;
  border: 2px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* GSAP Animations */

.animate-container-cards-scroll > * {
  opacity: 0;
}

@media (max-width: 768px) {
  .animate-container-cards-scroll > * {
    opacity: 1;
  }
}

/* Klaviyo Overrides */

#rich-text-01JQ7PY3EM88BD6RSMQFFCS2QW > *,
#rich-text-01JQ7PY3EVQV63T4NT5GGT9J67 > * {
  padding-top: var(--space-2xs) !important;
  text-align: left !important;
}

#rich-text-01JQ7PY3EM88BD6RSMQFFCS2QW > * > *,
#rich-text-01JQ7PY3EVQV63T4NT5GGT9J67 > * > *,
#label-email_01K0TJKMBA3VDEFYQ0GC07SFN3 {
  line-height: 140% !important;
  letter-spacing: 0.065rem !important;
  font-family: var(--ordinary-light) !important;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem) !important;
  font-weight: 300 !important;
  margin-right: auto !important;
  text-align: left !important;
}

/* hCAPTCHA */

.shopify-challenge__container {
  padding: var(--space-3xl) var(--space-m);
}

.shopify-challenge__button {
  width: 100%;
  background-color: var(--neutral-950);
  color: var(--white);
  border: none;
  padding: var(--space-s) var(--space-m);
  cursor: pointer;
  margin-bottom: var(--space-s);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cookie Banner */

.cc-message {
  max-width: 80%;
}

@media screen and (max-width: 768px) {
  .cc-message {
    max-width: 100% !important;
  }
  #csm-wrapper > .cc-banner {
    width: calc(100% - var(--space-m) - var(--space-m)) !important;
    border-radius: 0px !important;
  }
}

.cc-compliance > button {
  border-radius: 0px;
  border: 1px solid var(--neutral-950) !important;
}

.cc-compliance > button {
  border-radius: 0px;
  border: 1px solid var(--neutral-950) !important;
}
