/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Ordinary Light", sans-serif;
  margin: 0;
  padding: 0;
}

html:focus-within,
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

li {
  list-style-position: inside;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  background-size: cover;
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition: none;
    transition-duration: 0.01ms !important;
  }
}

/* Fonts */

@font-face {
  font-display: swap;
  font-family: "Ordinary Regular";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/ordinary-display-regular.woff2?v=1742796201") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Ordinary Light";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/ordinary-display-light.woff2?v=1742796170") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "The Wedding Signature";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/the-wedding-signature-regular.woff2?v=1743742147") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Optispire";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/optispire.woff2?v=1760416119") format("woff2");
}

/* Variables */

:root {
  --ordinary-light: "Ordinary Light", sans-serif;
  --ordinary-regular: "Ordinary Regular", sans-serif;
  --space-l: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  --space-m: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  --space-s: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --space-xl: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.8rem + 1vw, 5rem);
  --space-3xl: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);
  --space-3xs: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  --white: #ffffff;

  --green-50: #eaf8f1;
  --green-100: #d4ede1;
  --green-200: #bae3cf;
  --green-300: #9ed8bc;
  --green-400: #48b381;
  --green-500: #398e64;
  --green-600: #2c6d4e;
  --green-700: #204e39;
  --green-800: #132c1f;
  --green-900: #0c1e15;
  --green-950: #06120b;
  --neutral-50: #f3f3f3;
  --neutral-100: #e7e7e7;
  --neutral-200: #dadada;
  --neutral-300: #d4d4d4;
  --neutral-400: #a0a0a0;
  --neutral-500: #7e7e7e;
  --neutral-600: #616161;
  --neutral-700: #444444;
  --neutral-800: #272727;
  --neutral-900: #191919;
  --neutral-950: #0f0f0f;
}

/* Typography */

.small {
  font-family: var(--ordinary-light), sans-serif;
  font-size: clamp(0.5787rem, 0.5498rem + 0.1447vw, 0.7234rem);
  letter-spacing: 0.065rem;
  line-height: 140%;
}

.body,
p,
li {
  font-family: var(--ordinary-light), sans-serif;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 300;
  letter-spacing: 0.065rem;
  line-height: 140%;
}

.body--uppercase {
  font-family: var(--ordinary-light), sans-serif;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 300;
  letter-spacing: 0.065rem;
  line-height: 140%;
  text-transform: uppercase;
}

.body--bold,
h5,
h6 {
  font-family: var(--ordinary-regular), sans-serif;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 500;
  letter-spacing: 0.065rem;
  line-height: 140%;
}

.heading--l,
h4 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ordinary-regular), sans-serif;
  font-size: clamp(0.8333rem, 0.7917rem + 0.2083vw, 1.0417rem);
  font-weight: 500;
  letter-spacing: 0.125rem;
  line-height: 140%;
}

.heading--xl,
h3 {
  font-family: var(--ordinary-regular), sans-serif;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 500;
  line-height: 140%;
}

.heading--2xl,
h2 {
  font-family: var(--ordinary-regular), sans-serif;
  font-size: clamp(1.2rem, 1.14rem + 0.3vw, 1.5rem);
  font-weight: 500;
  letter-spacing: 0.125rem;
  line-height: 140%;
}

.heading--decorative {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "The Wedding Signature", serif;
  font-size: clamp(2.4883rem, 2.3639rem + 0.6221vw, 3.1104rem);
  font-weight: 500;
  letter-spacing: 0 !important;
  line-height: 100%;
}

.heading--optispire {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Optispire", serif;
  font-size: clamp(2.986rem, 2.8367rem + 0.7465vw, 3.7325rem);
  font-weight: 500;
  letter-spacing: 0.35rem !important;
  line-height: 100%;
}

.heading--3xl,
h1 {
  font-family: var(--ordinary-light), sans-serif;
  font-size: clamp(2.986rem, 2.8367rem + 0.7465vw, 3.7325rem);
  font-weight: 300;
  letter-spacing: 0.2rem;
  line-height: 100%;
}

.heading--4xl {
  font-family: var(--ordinary-regular), sans-serif;
  font-size: clamp(3.5832rem, 3.404rem + 0.8958vw, 4.479rem);
  font-weight: 500;
  letter-spacing: 0.2rem;
  line-height: 100%;
}

@media screen and (max-width: 768px) {
  .small,
  .body,
  .body--uppercase,
  .body--bold {
    font-size: 12px !important;
  }
}

/* UI */

input,
input::placeholder {
  font-family: var(--ordinary-light), sans-serif !important;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem) !important;
  letter-spacing: 0.1rem !important;
  line-height: 140% !important;
}

input:focus-visible {
  outline-width: 0 !important;
}

.button--white {
  backdrop-filter: blur(0.25rem);
  border: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.button--white:hover {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

/* Global Styles */

.hide {
  display: none !important;
}

/* Rich Text */

.metafield-rich_text_field > * {
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  margin-bottom: var(--space-m);
}

.metafield-rich_text_field > *,
.metafield-rich_text_field > * > a,
.metafield-rich_text_field > p > a,
.metafield-rich_text_field > * > li > *,
.line > p > a {
  color: var(--neutral-600) !important;
}

.metafield-rich_text_field > p > strong,
.metafield-rich_text_field > * > li > strong {
  color: var(--neutral-950) !important;
  font-family: var(--ordinary-regular), sans-serif;
  font-weight: 500;
}

/* Breadcrumbs */

.breadcrumb__list {
  align-items: center;
  color: var(--neutral-950);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs);
  justify-content: center;
  list-style: none;
}

.breadcrumb__item {
  position: relative;
}

.breadcrumb__link {
  color: var(--neutral-950);
}

/* Variant selectors */

.variant-options {
  border: none;
  margin: 0 0 var(--space-m) 0;
  padding: 0;
}

.variant-options legend {
  color: var(--neutral-950);
  margin-bottom: var(--space-xs);
}

.variant-options__list {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);
}

.variant-option {
  position: relative;
}

.variant-option input[type="radio"] {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.variant-option label {
  border: 1px solid var(--neutral-100);
  color: var(--neutral-950);
  cursor: pointer;
  display: inline-block;
  padding: var(--space-2xs) var(--space-2xs);
  position: relative;
}

.variant-option input[type="radio"]:checked + label {
  border: 1px solid var(--neutral-950);
}

.variant-option input[type="radio"]:checked + label::after {
  display: none;
}

.variant-option input[type="radio"]:disabled + label {
  color: var(--neutral-200);
  cursor: not-allowed;
}

/* Ploiu Vanilla JS Accordion (Web Component) */

accordion-element {
  border-bottom: 1px solid var(--neutral-50);
  display: block;
  width: 100%;
}

accordion-element > .ploiu-accordion-title {
  background-color: var(--white);
  color: var(--neutral-950);
  cursor: pointer;
  padding: var(--space-m);
  padding-right: calc(var(--space-m) * 2 + 7px);
  position: relative;
  text-transform: uppercase;
}

accordion-element > .ploiu-accordion-title::after {
  background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%230F0F0F' stroke-linecap='square'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  height: 12px;
  position: absolute;
  right: var(--space-m);
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  width: 7px;
}

accordion-element.open > .ploiu-accordion-title::after {
  transform: rotateZ(-90deg);
}

accordion-element > .ploiu-accordion-body {
  color: var(--neutral-600);
  margin: 0 0 var(--space-m) 0;
  max-width: 120ch;
  overflow: hidden;
  padding: 0 var(--space-m);
  transition: height 0.3s;
}

accordion-element > .ploiu-accordion-body > .body > p > strong,
accordion-element > .ploiu-accordion-body > .body > * > li > strong {
  color: var(--neutral-950);
  font-family: var(--ordinary-regular), sans-serif;
  font-weight: 500;
}

accordion-element > .ploiu-accordion-body > .body > p > a,
accordion-element > .ploiu-accordion-body > .body > * > li > * {
  color: var(--neutral-600);
}

accordion-element:not(.open) > .ploiu-accordion-body {
  height: 0 !important;
  margin: 0 !important;
  padding: 0 var(--space-m);
}

accordion-element.open {
  height: max-content;
}

accordion-element.open > .ploiu-accordion-title {
  background-color: var(--white);
}

accordion-element.open > .ploiu-accordion-body {
  margin-bottom: 0 !important;
}

accordion-fan {
  display: block;
  width: 100%;
}

accordion-fan > accordion-element {
  border-radius: 0;
  width: 100%;
}

accordion-fan > accordion-element > .ploiu-accordion-title {
  width: auto;
}

.product-card__swatches {
  align-items: center;
  display: flex;
  gap: var(--space-3xs);
  padding-top: var(--space-3xs);
}

.product-card__swatch-link {
  box-shadow: none;
  display: block;
  height: 20px;
  outline: none;
  text-decoration: none;
  width: 20px;
}

.product-card__swatch {
  border: 1px solid transparent;
  height: var(--space-xs);
  width: var(--space-xs);
}

.product-card__swatch--white {
  border-color: var(--neutral-400);
}

@media screen and (max-width: 768px) {
  input,
  input::placeholder {
    font-size: 16px !important;
  }
  .product-card__swatches {
    gap: var(--space-2xs);
  }
}

/* Accessibility */

a.skip-to-content {
  left: 0;
  position: absolute;
  top: 0;
  transform: translateX(-100%);
}

a.skip-to-content:focus-visible {
  position: relative;
  transform: translateX(0%);
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--neutral-50);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--neutral-100);
  border-left: 1px solid var(--neutral-50);
  border-radius: 0 !important;
}

/* Loading Spinner */

.loader--spinner {
  animation: rotation 1s linear infinite;
  border: 2px solid var(--white);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 16px;
  width: 16px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* GSAP Animations */

.animate-container-cards-scroll > * {
  opacity: 0;
}

@media (max-width: 768px) {
  .animate-container-cards-scroll > * {
    opacity: 1;
  }
}

/* Klaviyo Overrides */

.button,
.klaviyo-form-WH7CVh > div > form > div > div > div > button.needsclick {
  font-family: var(--ordinary-light), sans-serif !important;
  padding: var(--space-xs) var(--space-l) !important;
  text-align: center !important;
}

.klaviyo-form-WH7CVh > div > form > div > div > div > button.needsclick {
  background: var(--neutral-950) !important;
}

#rich-text-01JQ7PY3EM88BD6RSMQFFCS2QW > *,
#rich-text-01JQ7PY3EVQV63T4NT5GGT9J67 > * {
  padding-top: var(--space-2xs) !important;
  text-align: left !important;
}

#rich-text-01JQ7PY3EM88BD6RSMQFFCS2QW > * > *,
#rich-text-01JQ7PY3EVQV63T4NT5GGT9J67 > * > *,
#label-email_01K0TJKMBA3VDEFYQ0GC07SFN3 {
  font-family: var(--ordinary-light), sans-serif !important;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem) !important;
  font-weight: 300 !important;
  letter-spacing: 0.065rem !important;
  line-height: 140% !important;
  margin-right: auto !important;
  text-align: left !important;
}

/* hCAPTCHA */

.shopify-challenge__container {
  padding: var(--space-3xl) var(--space-m);
}

.shopify-challenge__button {
  align-items: center;
  background-color: var(--neutral-950);
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-s);
  padding: var(--space-s) var(--space-m);
  width: 100%;
}

/* Cookie Banner */

.cc-message {
  max-width: 80%;
}

@media screen and (max-width: 768px) {
  .cc-message {
    max-width: 100% !important;
  }
  #csm-wrapper > .cc-banner {
    border-radius: 0 !important;
    width: calc(100% - var(--space-m) - var(--space-m)) !important;
  }
}

.cc-compliance > button {
  border: 1px solid var(--neutral-950) !important;
  border-radius: 0;
}

.cc-compliance > button {
  border: 1px solid var(--neutral-950) !important;
  border-radius: 0;
}

/* Footer */

footer ul {
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
