.announcement-bar {
  display: flex;
  height: var(--space-l);
  padding: var(--space-2xs);
}

.announcement-bar .splide__track {
  margin: auto;
}

.announcement-bar__content-text-container a {
  text-decoration: none;
}

.announcement-bar__content-text-container strong {
  font-family: var(--ordinary-regular), sans-serif;
}
