.collections-list {
  padding-bottom: var(--space-2xl);
}

.collections-list__heading {
  padding: var(--space-2xl) 0;
  text-align: center;
}

.collections-list__grid {
  display: grid;
  gap: var(--space-2xs);
  grid-template-columns: repeat(4, 1fr);
}

.collections-list__card {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  overflow: hidden;
}

.collections-list__card-image {
  height: 800px;
  margin-bottom: var(--space-xs);
  overflow: hidden;
}

.collections-list__card-image img {
  height: 100%;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.collections-list__card-placeholder {
  align-items: center;
  background-color: var(--neutral-50);
  display: flex;
  height: 100%;
  justify-content: center;
}

.collections-list__card-placeholder svg {
  fill: var(--neutral-200);
  height: 60%;
  width: 60%;
}

.collections-list__card-content {
  margin-bottom: var(--space-m);
  padding-left: var(--space-m);
}

.collections-list__card-title {
  margin-bottom: var(--space-2xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collections-list__card-title a,
.collections-list__card-link-container {
  color: var(--neutral-950);
  text-decoration: none;
}

.collections-list__card-link {
  display: flex;
  gap: var(--space-xs);
}

.collections-list__pagination {
  display: flex;
  gap: var(--space-2xs);
  grid-column: 1 / -1;
  justify-content: center;
  margin-top: var(--space-xl);
}

.collections-list__pagination-link {
  color: var(--neutral-600);
  padding: var(--space-3xs) var(--space-2xs);
}

.collections-list__pagination-current {
  color: var(--neutral-950);
  padding: var(--space-3xs) var(--space-2xs);
}

@media screen and (max-width: 1440px) {
  .collections-list {
    padding-bottom: var(--space-xl);
  }

  .collections-list__grid {
    column-gap: var(--space-2xs);
    grid-template-columns: repeat(2, 1fr);
  }

  .collections-list__card-content {
    padding-right: var(--space-m);
  }
}

@media screen and (max-width: 768px) {
  .collections-list__heading {
    padding-bottom: var(--space-l);
    padding-top: var(--space-l);
  }

  .collections-list__grid {
    grid-template-columns: 1fr;
  }

  .collections-list__card-image {
    height: 600px;
  }
}