.counter__header {
  margin: var(--space-2xl) auto;
  max-width: fit-content;
  text-align: center;
}

.counter__container {
  background-color: var(--neutral-950);
  color: var(--white);
  display: grid;
  text-align: center;
  border-bottom: solid 1px var(--neutral-600);
  border-top: solid 1px var(--neutral-600);
}

.countervalue__aside-text{
  white-space: break-spaces;
}

.counter__counters {
  border-right: solid var(--neutral-600);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  margin: var(--space-xl) 0;
  padding: 0 var(--space-xl);
}

.counter__counters:last-child {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .counter__container {
    display: flex;
    flex-direction: column;
  }

  .counter__counters {
    border-right: none;
    margin: var(--space-l);
  }
}
