.counter__header {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  margin: auto;
  max-width: fit-content;
  padding: var(--space-2xl);
  text-align: center;
}

.counter__header-subheading {
  max-width: 80ch;
}

.counter__container {
  background-color: var(--neutral-950);
  color: var(--white);
  display: grid;
  text-align: center;
}

.counter__counters {
  border-right: 1px solid var(--neutral-600);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  justify-content: space-between;
  margin: var(--space-xl) 0;
  padding: 0 var(--space-xl);
}

.countervalue__aside-text {
  white-space: break-spaces;
}

.counter__counters:last-child {
  border-right: none;
}

@media screen and (max-width: 768px) {
  .counter__container {
    display: flex;
    flex-direction: column;
  }

  .counter__counters {
    border-right: none;
    margin: var(--space-l);
  }
}
