.grid-tiles {
  padding: var(--space-2xl);
  width: 100%;
}

.grid-tiles__grid {
  column-gap: var(--space-m);
  display: grid;
  row-gap: var(--space-m);
}

.grid-tiles__grid[data-columns="1"] {
  grid-template-columns: 1fr;
}

.grid-tiles__grid[data-columns="2"] {
  grid-template-columns: repeat(2, 1fr);
}

.grid-tiles__grid[data-columns="3"] {
  grid-template-columns: repeat(3, 1fr);
}

.grid-tiles__grid[data-columns="4"] {
  grid-template-columns: repeat(4, 1fr);
}

.grid-tiles__grid[data-columns="5"] {
  grid-template-columns: repeat(5, 1fr);
}

.grid-tiles__grid[data-columns="6"] {
  grid-template-columns: repeat(6, 1fr);
}

.grid-tiles__grid[data-columns="auto"] {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-tiles__tile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--neutral-950);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  min-height: 150px;
  padding: var(--space-m);
  text-decoration: none;
}

.grid-tiles__tile-header {
  color: var(--neutral-950);
  margin: 0;
}

.grid-tiles__tile-text {
  color: var(--neutral-600);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .grid-tiles {
    padding: var(--space-l);
  }

  .grid-tiles__grid {
    display: flex;
    flex-direction: column;
  }
}
