.wishlist__state {
  background-color: var(--white);
  border-top: 1px solid var(--neutral-50);
  padding: var(--space-3xl) var(--space-m);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  max-width: 600px;
  margin: 0 auto;
}

.wishlist__state-description {
  color: var(--neutral-600);
}

.wishlist__state-button {
  align-items: center;
  background-color: var(--neutral-950);
  border: none;
  color: var(--white);
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
}

.wishlist__products-header {
  padding: var(--space-s) var(--space-m);
  border-bottom: 1px solid var(--neutral-50);
  border-top: 1px solid var(--neutral-50);
}

.wishlist__products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: var(--space-xl) 0;
}

@media (max-width: 768px) {
  .wishlist__products {
    display: flex !important;
    flex-direction: column !important;
  }
}
