.faq-section {
  padding: var(--space-2xl) var(--space-m);
}

.faq-section__container {
  margin: 0 auto;
  max-width: 1200px;
}

.faq-items__item > .ploiu-accordion-body > .body > p,
.faq-items__item > .ploiu-accordion-body > .body > ul,
.faq-items__item > .ploiu-accordion-body > .body > ol {
  margin-bottom: var(--space-m);
}

.faq-section__heading:first-of-type {
  margin-top: 0;
}

.faq-section__heading {
  margin-top: var(--space-m);
}