.video-container--full-width {
  max-width: 100%;
  padding: var(--space-2xl) var(--space-m);
  width: 100%;
}

.video-container--contained {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 var(--space-m);
}

.video-container__video {
  display: block;
  position: relative;
  width: 100%;
}

.video-container__video > video {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.video-container__title {
  margin: var(--space-s) 0;
}
