.blog-collection {
  padding-bottom: var(--space-2xl);
}

.blog-collection__heading {
  padding: var(--space-2xl) 0;
  text-align: center;
}

.blog-collection__grid {
  display: grid;
  gap: var(--space-2xs);
  grid-template-columns: repeat(4, 1fr);
}

.blog-collection__post {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  overflow: hidden;
}

.blog-collection__post-image {
  margin-bottom: var(--space-xs);
}

.blog-collection__post-image img {
  object-fit: cover;
}

.blog-collection__post-content {
  margin-bottom: var(--space-m);
  padding-left: var(--space-m);
}

.blog-collection__post-category {
  color: var(--neutral-600);
  margin-bottom: var(--space-s);
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.blog-collection__post-title {
  margin-bottom: var(--space-2xs);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.blog-collection__post-title a,
.blog-collection__post-link-container {
  color: var(--neutral-950);
  text-decoration: none;
}

.blog-collection__post-link {
  display: flex;
  gap: var(--space-xs);
}

.blog-collection__pagination {
  display: flex;
  gap: var(--space-2xs);
  justify-content: center;
  margin-top: var(--space-xl);
}

.blog-collection__pagination-link {
  color: var(--neutral-600);
  padding: var(--space-3xs) var(--space-2xs);
}

.blog-collection__pagination-current {
  color: var(--neutral-950);
  padding: var(--space-3xs) var(--space-2xs);
}

.blog-collection__empty {
  align-items: center;
  display: flex;
  justify-content: center;
}

.blog-collection__loading {
  align-items: center;
  color: var(--neutral-600);
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1440px) {
  .blog-collection {
    padding-bottom: var(--space-xl);
  }

  .blog-collection__grid {
    column-gap: var(--space-2xs);
    gap: calc(var(--space-xs) + var(--space-xs));
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-collection__post-content {
    padding-right: var(--space-m);
  }
}

@media screen and (max-width: 570px) {
  .blog-collection__heading {
    padding-bottom: var(--space-l);
    padding-top: var(--space-l);
  }

  .blog-collection__grid {
    gap: calc(var(--space-xs) + var(--space-xs));
    grid-template-columns: 1fr;
  }
}
