.heading-with-text {
  padding: var(--space-xl) var(--space-m);
  padding-bottom: calc(var(--space-xl) - var(--space-m));
}

.heading-with-text--left {
  text-align: left;
}

.heading-with-text--center {
  text-align: center;
}

.heading-with-text--right {
  text-align: right;
}

.heading-with-text__container {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin: 0 auto;
  max-width: 700px;
}

.heading-with-text__heading-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
