.blog-collection__pagination {
  display: flex;
  justify-content: center;
  padding: var(--space-m);
}

.blog-collection__pagination ul {
  align-items: center;
  display: flex;
  gap: var(--space-xs);
  list-style: none;
}

.blog-collection__pagination li {
  display: flex;
}

.blog-collection__pagination a,
.blog-collection__pagination span {
  color: var(--neutral-600);
  padding: var(--space-xs) var(--space-s);
  text-decoration: none;
}

.blog-collection__pagination a:hover,
.blog-collection__pagination .current {
  background-color: var(--neutral-50);
  color: var(--neutral-950);
}
