[x-cloak] {
  display: none !important;
}

.menu-drawer__container {
  position: relative;
  z-index: 9997;
}

.menu-drawer__overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.menu-drawer {
  position: fixed;
  bottom: 0;
  background: var(--white);
  overflow-x: hidden;
  z-index: 9999;
  border-top: 1px solid var(--neutral-200);
}

.menu-drawer__inner {
  display: flex;
  height: 100%;
}

.menu-drawer__level {
  width: 400px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
}

.menu-drawer__level--active {
  display: block;
}

#menu-drawer-level-1 {
  display: flex;
  flex-direction: column;
}

.menu-drawer__scrollable-content {
  flex: 1;
  overflow-y: auto;
}

.menu-drawer__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding: var(--space-m) var(--space-m);
}

#menu-drawer__menu-1 {
  border-bottom: 1px solid var(--neutral-200);
}

.menu-drawer__link,
.menu-drawer__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.menu-drawer__item--inactive,
.menu-drawer__media--inactive {
  opacity: 0.4;
}

.menu-drawer__item--active {
  opacity: 1;
  text-decoration: underline;
  font-weight: 500;
}

li:has(.menu-drawer__item--active) a,
li:has(.menu-drawer__item--active) button > span:first-child {
  text-decoration: underline;
  font-weight: 500;
}

.menu-drawer__video-container {
  width: 100%;
  padding: var(--space-m) var(--space-m);
  border-bottom: 1px solid var(--neutral-200);
}

.menu-drawer__video {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: var(--space-2xs);
}

.menu-drawer__klaviyo {
  padding: var(--space-m) var(--space-m);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  border-top: 1px solid var(--neutral-200);
}

.menu-drawer__klaviyo > p.small {
  margin-top: var(--space-xs);
}

.menu-drawer__klaviyo > .klaviyo-form > div > form,
.menu-drawer__klaviyo > .klaviyo-form > div > form > div > div > div {
  padding: 0px !important;
}

.menu-drawer__klaviyo > .klaviyo-form > div > form > div {
  gap: var(--space-xs);
}

.menu-drawer__klaviyo > .klaviyo-form > div > form > div > div > div > div > input {
  padding: 0px !important;
  border: none !important;
  border-bottom: 1px solid var(--neutral-200) !important;
  color: var(--neutral-950);
}

#menu-drawer-level-2,
#menu-drawer-level-3 {
  border-left: 1px solid var(--neutral-200);
}

#menu-drawer-level-2 {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

#menu-drawer-level-2::-webkit-scrollbar-horizontal {
  display: none !important;
}

#menu-drawer-level-2 > .menu-drawer__menu {
  border-top: 1px solid var(--neutral-200);
  border-bottom: 1px solid var(--neutral-200);
}

#menu-drawer-level-2 > div > .splide {
  padding: var(--space-m) var(--space-m);
  position: relative;
}

#menu-drawer-level-2 > div > div > .splide__track {
  overflow: visible;
}

.menu-drawer__header {
  display: flex;
  align-items: center;
  padding: var(--space-m) var(--space-m);
  border-bottom: 1px solid var(--neutral-200);
}

.menu-drawer__header .menu-drawer__heading {
  flex-grow: 1;
}

.menu-drawer__back {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: none;
  color: var(--neutral-950); 
}

.menu-drawer__back > :first-child {
  margin-right: var(--space-xs);
  margin-top: -2px;
}

.menu-drawer__featured-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  will-change: transform;
  padding: var(--space-m) var(--space-m);
  height: 550px;
}

.menu-drawer__featured-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
  background-color: var(--neutral-200); 
}

.menu-drawer__featured-image--loading-new-image img {
  display: none;
}

.menu-drawer__heading-journal {
  padding: var(--space-m) var(--space-m) 0 var(--space-m);
}

.menu-drawer__article {
  padding: 0;
  width: 100%;
}

.menu-drawer__article-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.menu-drawer__article-content > img {
  height: 350px;
  width: 99%;
  object-fit: cover;
}

.menu-drawer__article-link {
  color: var(--neutral-950);
  text-decoration: none;
}

.menu-drawer__article-title,
.menu-drawer__article-tag {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.splide__slide {
  height: auto;
}

.splide__slide .menu-drawer__article-image {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.splide__slide.is-active .menu-drawer__article-image {
  filter: grayscale(0%);
}

@media screen and (min-width: 1200px) {
  #menu-drawer-level-2 > div > div > .splide__track > .splide__list > .splide__slide {
    width: 80% !important;
  }

  .mobile-search-wrapper {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  
  .menu-drawer {
    width: 100%;
  }

  .menu-drawer__overlay {
    display: none; 
  }

  .menu-drawer__inner {
    display: block;
    position: relative;
    height: 100%;
  }

  .menu-drawer__level {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: none;
    background: var(--white);
  }

  #menu-drawer-level-1 {
    position: relative;
    display: block;
  }

  .menu-drawer__level--active {
    display: block;
    z-index: 10;
  }

  #menu-drawer-level-2,
  #menu-drawer-level-3 {
    border-left: none;
    display: flex;
    flex-direction: column;
  }

  #menu-drawer-level-2 .menu-drawer__menu-level-2 {
    order: 1;
  }
  #menu-drawer-level-2 .menu-drawer__featured-image {
    order: 2;
  }
  
  #menu-drawer-level-2 > div:has(.splide) {
    order: 3;
  }

  .menu-drawer__back {
    display: block;
  }

  .menu-drawer__heading {
    text-align: right;
  }

  .menu-drawer__video {
    max-height: 400px;
  }

  #menu-drawer-level-2 > div > div > .splide__track {
    overflow: hidden;
  }

  .splide__slide .menu-drawer__article-image {
    filter: grayscale(0%);
  }

  #menu-drawer-level-2 > .menu-drawer__menu {
    border-top: none; 
  }

  .menu-drawer__featured-image {
    overflow: visible;
  }

  .menu-drawer__article-content > img {
    height: auto; 
  }
}