.related-product-slider__text {
  color: var(--neutral-600);
  margin-bottom: var(--space-xs);
}

.related-product-slider .splide__arrow {
  background: var(--white);
  border-radius: 50%;
  height: var(--space-m);
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  width: var(--space-m);
}

.related-product-slider.splide.is-initialized .splide__arrow:not(:disabled) {
  opacity: 1;
}

.related-product-slider .splide__arrow--prev {
  left: var(--space-2xs);
}

.related-product-slider .splide__arrow--next {
  right: var(--space-2xs);
}
