/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html:focus-within,
html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

html {
  overflow-y: scroll;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

/* Variables */

:root {
  /* Fluid Spacing */
  --space-3xs: clamp(0.25rem, 0.2375rem + 0.0625vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.475rem + 0.125vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.7125rem + 0.1875vw, 0.9375rem);
  --space-s: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.425rem + 0.375vw, 1.875rem);
  --space-l: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
  --space-xl: clamp(3rem, 2.85rem + 0.75vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.8rem + 1vw, 5rem);
  --space-3xl: clamp(6rem, 5.7rem + 1.5vw, 7.5rem);

  /* Colours */
  --white: #ffffff;
  --green-50: #eaf8f1;
  --green-100: #d4ede1;
  --green-200: #bae3cf;
  --green-300: #9ed8bc;
  --green-400: #48b381;
  --green-500: #398e64;
  --green-600: #2c6d4e;
  --green-700: #204e39;
  --green-800: #132c1f;
  --green-900: #0c1e15;
  --green-950: #06120b;
  --neutral-50: #f3f3f3;
  --neutral-100: #e7e7e7;
  --neutral-200: #dadada;
  --neutral-300: #cbcbcb;
  --neutral-400: #a0a0a0;
  --neutral-500: #7e7e7e;
  --neutral-600: #616161;
  --neutral-700: #444444;
  --neutral-800: #272727;
  --neutral-900: #191919;
  --neutral-950: #0f0f0f;
}

/* Global Styles */

.hide {
  display: none !important;
}

/* Typography */

@font-face {
  font-family: "Ordinary Regular";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/ordinary-display-regular.woff2?v=1742796201")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Ordinary Light";
  src: url("https://cdn.shopify.com/s/files/1/0898/1859/5696/files/ordinary-display-light.woff2?v=1742796170")
    format("woff2");
  font-display: swap;
}

.small {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: "Ordinary Light";
  font-size: clamp(0.5787rem, 0.5498rem + 0.1447vw, 0.7234rem);
}

.body {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: "Ordinary Light";
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 300;
}

.body--uppercase {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: "Ordinary Light";
  text-transform: uppercase;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 300;
}

.body--bold {
  line-height: 140%;
  letter-spacing: 0.065rem;
  font-family: "Ordinary Regular";
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem);
  font-weight: 500;
}

.heading--l {
  line-height: 140%;
  letter-spacing: 0.125rem;
  font-family: "Ordinary Regular";
  font-size: clamp(0.8333rem, 0.7917rem + 0.2083vw, 1.0417rem);
  font-weight: 500;
}

.heading--xl {
  line-height: 140%;
  font-family: "Ordinary Regular";
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
  font-weight: 500;
}

.heading--2xl {
  line-height: 140%;
  letter-spacing: 0.125rem;
  font-family: "Ordinary Regular";
  font-size: clamp(1.2rem, 1.14rem + 0.3vw, 1.5rem);
  font-weight: 500;
}

.heading--decorative {
  line-height: 100%;
  font-size: clamp(2.4883rem, 2.3639rem + 0.6221vw, 3.1104rem);
}

.heading--3xl {
  line-height: 100%;
  letter-spacing: 0.2rem;
  font-family: "Ordinary Light";
  font-size: clamp(2.986rem, 2.8367rem + 0.7465vw, 3.7325rem);
  font-weight: 500;
}

/* UI */

.button,
.klaviyo-form-WH7CVh > div > form > div > div > div > button.needsclick {
  padding: var(--space-xs) var(--space-l) !important;
  font-family: "Ordinary Light" !important;
  text-align: center !important;
}

.klaviyo-form-WH7CVh > div > form > div > div > div > button.needsclick {
  background: var(--neutral-950) !important;
}

input,
input::placeholder {
  line-height: 140% !important;
  letter-spacing: 0.2rem !important;
  font-family: "Ordinary Light" !important;
  font-size: clamp(0.6944rem, 0.6597rem + 0.1736vw, 0.8681rem) !important;
}

input:focus-visible {
  outline-width: 0px !important;
}

.button--white {
  border: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  backdrop-filter: blur(0.25rem);
}

/* Header */

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--space-xl);
  padding: 0 var(--space-m);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__icons {
  display: flex;
  list-style: none;
  gap: var(--space-s);
  align-items: center;
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
}

.hamburger-svg {
  display: block;
  width: 17px;
  height: 17px;
}

.hamburger-line {
  transition: all 0.3s ease;
  transform-origin: center;
  transform-box: fill-box;
}

.nav-open .top-line {
  transform: translate(0, 4px) rotate(45deg);
}

.nav-open .bottom-line {
  transform: translate(0, -4px) rotate(-45deg);
}

.js--cart-counter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--neutral-950);
  color: var(--white);
  font-size: 10px;
  font-family: "Ordinary Regular";
  position: absolute;
  bottom: -7px;
  right: -12px;
}

@media (max-width: 768px) {
  .header__logo {
    width: 160px;
  }
}

/* Footer */

footer ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: center;
}

/* Search */

.predictive-search__form {
  position: relative;
  width: 100%;
}

.predictive-search__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--neutral-200);
  background: transparent;
  color: var(--neutral-950);
  padding: var(--space-m);
}

.predictive-search__input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.predictive-search__input:focus {
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

.predictive-search__button {
  position: absolute;
  right: var(--space-m);
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#predictive-search {
  position: relative;
}

#predictive-search-results {
  position: absolute;
  z-index: 10;
  top: 0.5rem;
  left: 0;
  right: 0;
}

#predictive-search-results ul {
  display: block;
}

#predictive-search-results ul li {
  display: block;
  text-align: left;
}

#predictive-search-results li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Accessibility */

a.skip-to-content {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

a.skip-to-content:focus-visible {
  position: relative;
  transform: translateX(0%);
}

/* Splide Slider */

.splide__arrows {
  display: flex;
  gap: var(--space-xs);
  margin-bottom: var(--space-s);
}

.splide__arrow {
  background-color: transparent;
  border: none;
  width: var(--space-s);
  height: var(--space-s);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--white);
  border-left: 1px solid var(--neutral-200);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--neutral-100);
  border-radius: 0 !important;
  border-left: 1px solid var(--neutral-200);
}
